table.calendar {
    border-collapse: collapse;

    & td {
        border: 1px solid rgb(206, 206, 206);
        text-align: center;
        cursor: pointer;

        &:nth-child(6),
        &:nth-child(7) {
            color: red;
        }

        &.selected {
            background-color: rgb(137, 137, 206);
            border-radius: 50%;
        }
    }
}

.flex {
    display: flex;
    flex-direction: column;
}

.textDate {
    text-align: center;
    padding-bottom: 10px;
}

.center {
    align-items: center;
}

.popup {
    position: absolute;
    box-shadow: 0 0 12px 2px gray;
    background-color: whitesmoke;
}

.noselected {
    & tbody tr td.selected {
        background-color: unset;
        border-radius: unset
    }
}

table.nocaption {
    & caption {
        display: none;
    }
}

.dateindicator {
    border: 1px solid gray;
    width: 6em;

    &::after {
        content: '📆';
    }
}

.close {
    position: absolute;
    right: 0;
}