:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.ChildClass {
  margin: 10px;
  padding-top: 5px;
}

.parantTodo {
  display: flex;
  margin: 10px;
  justify-content: center;
  
}
fieldset{
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  text-align: left;
}
fieldset ol{
  padding-left: 20px;
}

.error {
  color: red;
}

button {
  margin: 0.3em;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}